.hamburger {
    color: #e0e2e1;
    position: fixed;
    right: 0px;
    top: 20px;
}

.hamburger div {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 6px 12px;
    cursor: pointer;
    margin-right: 20px;;
}