
h4 {
    line-height: 12px;
}

[class="0"] {
    grid-area: 1/1/2/4;
    margin-bottom: 80px;
    line-height: 0.8;
}

[class='0'] h4{
    font-size: 1.5rem;
    line-height: 0;
} 
[class='0'] h2{
    font-size: 3rem;;
} 
[class='0'] p{
    color: #ECECEC;
}


[class='1'], [class='2'], [class='3'], [class='4'], [class='5'], [class='6'], h4 {
    font-size: 0.8rem;
    line-height: 0.5;
} 
  
[class="1"] {
    grid-area: 2/1/3/2;
    background-color: rgba(116,0,0,0.6);
}
  
[class="2"] {
    grid-area: 2/2/3/3;
    background-color: rgba(116,0,0,0.6);
}
  
[class="3"] {
    grid-area: 2/3/3/4;
    background-color: rgba(116,0,0,0.6);
}
  
[class="4"] {
    grid-area: 3/1/4/2;
    background-color: rgba(116,0,0,0.6);
}
  
[class="5"] {
    grid-area: 3/2/4/3;
    background-color: rgba(116,0,0,0.6);
}
  
[class="6"] {
    grid-area: 3/3/4/4;
    background-color: rgba(116,0,0,0.6);
}

@media only screen and (min-width: 768px) {


    [class="0"] {
        grid-area: 1/1/2/7;
        margin-bottom: 40px;
      }
      
    [class="1"] {
        grid-area: 2/1/3/2;
        background-color: rgba(0,0,0,0.3);
    }
      
    [class="2"] {
        grid-area: 2/2/3/3;
        background-color: rgba(0,0,0,0.3)
    }
      
    [class="3"] {
        grid-area: 2/3/3/4;
        background-color: rgba(0,0,0,0.3)
    }
      
    [class="4"] {
        grid-area: 2/4/3/5;
        background-color: rgba(0,0,0,0.3)
    }
      
    [class="5"] {
        grid-area: 2/5/3/6;
        background-color: rgba(0,0,0,0.3)
    }
      
    [class="6"] {
        grid-area: 2/6/3/7;
        background-color: rgba(0,0,0,0.3)
    }
}