.search {
    margin-top: 15px;
    background-color: darkred;
    border: none;
    color: white;
    padding: 10px;
    font-family: "Maven Pro", sans-serif;
    font-weight: bolder;
}

.input {
    background-color: black;
    color: lightgray;
    border: 2px solid white;
    line-height: 2.4;
    font-family: "Man Pro", sans-serif;
    font-size: 1rem;
    margin-top: 40px;
}