.About {
    width: 95vw;
    height: 100vh;
    margin: 0 auto;
    background-color: black;
    padding-bottom: 100px;
}

.About h2 {
    margin-bottom: 60px;
    font-size: 2rem;
}

.About p {
    font-family: "Maven Pro", sans-serif;
}

.text-container {
    width: 80%;
    margin: 0 auto;
}

.insight {
    width: 80%;
    border-radius: 20px;
}

.rover {
    width: 90%;
    border-radius: 20px;
    margin-bottom: 100px;
}

.dust {
    width: 50%;
    border-radius: 20px;
}

.crater {
    width: 50%;
    border-radius: 20px;
}

@media screen and (min-width: 768px) {
    

    .About p {
        font-size: 1.4rem;
    }

}